table {
    text-align: right;
    border: 1px solid rgba(192, 208, 225, 0.5);
    border-collapse: collapse;
    width: 100%;
}
th {
    border: 1px solid rgba(192, 208, 225, 0.5);
    background-color:rgba(91, 80, 211, 0.4);
    color: $main-text;
    text-transform: uppercase;
    font-size: .6rem;
    line-height: 150%;
    position: relative;
    padding-right: 2%;
    letter-spacing: 0px;
    box-sizing: border-box;
    font-weight: 700;
    &::after  {
        content: "";
        background-image: url(../img/chevron-down.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 13px;
        height: 13px;
        position: absolute;
        top: 28%;
        right: 3%;
    }
}
td {
    color: #34475C;
    font-size: 0.75rem;
    line-height: 130%;
    border: 1px solid rgba(192, 208, 225, 0.5);
    box-sizing: border-box;
    padding-right: 0.7em;
}

tr {
    height: 1.7em;
    box-sizing: border-box;
    position: relative; 
}

.content {
    padding: 7.6em 2.5em;
    padding-left: 2.1875em;
    padding-right: 2.1875em;
    box-sizing: border-box;
    background-color: #F3F5F8;
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
        width: 100%;
    }
    &-plus {
        width: 44px;
        cursor: pointer;
        padding: 0;
        width: 3%;
       
        &::before {
            content: "+";
            transition: 0.5s all ease-in;
            border-radius: 100%;
            background-color: #F68D2C;
            display: block;
            padding: 5px;
            font-size: 14px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 8px;
            width: 9px;
            margin: 0 auto;
            
        }
        &_active {
            &::before {
                content: "-";
            }
        }
    }
  
    .even {
        background-color: rgba(91, 80, 211, 0.1);
    }


    &__title {
        height: 2.1em;
    }
    &-number {
        width: 3.1%;
        text-align: center;
        padding: 0;
    }
    &-cpt {
        width: 9.7%;
    }
    &-service {
        width: 14%;
    }
    &-frequency {
        width: 11.5%;
    }
    &-total {
        width: 13.7%;

    }
    &-min {
        width: 13.24%;
    }
    &-max {
        width: 13.5%;
    }
    &-avg {
        width: 18.2%;
    }
    &__inner-table {
        display: none;
        transition: 3s  ease;
        max-width: 1135px;
        &__number {
            width: 3%;
            text-align: center;
            padding: 0;
        }
        &__claim {
            width: 10.2%;
        }
        &__invoice {
            width: 10.6%;
        }
        &__tax {
            width: 7.8%;
        }
        &__bill {
            width: 6.9%;

        }
        &__line {
            width: 7%;
        }
        &__med
         {
            width: 9.3%;
         }
         &__provider {
            width: 10.2%;
         }
         &__date {
            width: 8.1%;
         }
         &__charge {
            width: 7.7%;
         }
         &__unit {
            width: 9.5%;
         }
         &__details {
            width: 9.7%;
            cursor: pointer;
            &::before {
                content: "i";
                transition: 0.5s all ease-in;
                border-radius: 100%;
                background-color: $purple;
                padding: .25rem 0.25rem 0.25rem 0.3rem;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 0.5em;
                width: 0.56em;
                margin-left: auto;
                
            }


         }
         table {
            background-color: #fff;
            margin-bottom: 10px;
            margin: -0.15em 0 0.625em 2.5em;
            width: calc(100% - 1.75em);
         }
         th {
             text-transform: capitalize;
             background-color: rgba(247, 141, 44, 0.3);
             font-size: 0.625rem;
             letter-spacing: 0;
             &::after {
                width: 12px;
                height: 12px;
                position: absolute;
                top: 27%;
                right: 4%;
             }
         }
         thead {
             tr {
                 height: 2.1em;
             }
         }
         tbody {
             tr {
                 height: 1.9em;
                 &:nth-child(even) {
                    background-color: rgba(91, 80, 211, 0.1);
                }
             }
             td {
             padding-right: 0.625em;
             box-sizing: border-box;
             font-size: 0.75rem;

            }
         }

    }
}

.pagination {
        margin-bottom: 22px;

        a {
        text-align: right;
        color: #c0d0e1;
        padding: 8px 14.5px;
        text-decoration: none;
        font-size: 12px;
        &.active {
            color: #34475C
        }
    }
    &_main {
        text-align: right;
        margin-top: 25px;
        a {
            padding: 9px 13px;
            color: #34475C;
            &.active {
                color: #fff;
                background-color: $purple;
            }
        }
    }
    
    

}
