.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(58, 69, 97, 0.5);
    z-index: 3;
}
.popup {
    color: #28476B;
    position: relative;
    background-color: #fff;
    max-width: 95%;
    padding: 1.25em 1.25em 5.625em 1.25em;
    box-sizing: border-box;
    margin: 0 auto;
    top: -45%;
    &__title {
        height: 2.95em;
        font-size: 8px;
        font-weight: 400;
        line-height: 120%;
    }
    &__close {
        position: absolute;
        top: 17px;
        right: 13px;
        font-size: 1.875rem;
        cursor: pointer;
    }
    h2 {
        font-size: 1.375rem;
        line-height: 1.875rem;
        font-weight: 700;
    }
    &-info {
        display: grid;
        grid-template-columns: [start] 11.5em [col-1] 16.7em [col-2] 17.5em [col-3] 13.33em [col-end];
        grid-template-rows: [start] 4.67em [row-1] 3.17em [row-2] 4.67em [row-end];
        margin-top: 3em;
        margin-bottom: 4em;
        font-size: 0.75rem;
        line-height: 160%;
        grid-gap: 2.25em 5.5em;
        color: #28476B;
        &__title {
            color: #5B50D3;
        }

    }
    &__wrapper {
        width: 1135px;
      position: relative;
        overflow-x: scroll;
    }
    table {
        width: 1550px;
        z-index: -2;
    }
    td {
        padding-right: 1.125em;
        box-sizing: border-box;
        font-size: 0.75rem;
        margin-bottom: 4.1em;
    }
    
    th {
        font-size: 0.67rem;
        &::before {
            top: 18%;
            right: 4%;
        }
    }
    tr {
        
        &:nth-child(even) {
            background-color: rgba(91,80,211,.1);
        }
    }
    &-item {
        &__number {
            width: 38px;
        }
        &__servfrom {
            width: 124px;
        }
        &__serv-through {
            width: 128px;
        }
        &__billed {
            width: 125px;
        }
        &__paid {
            width: 125px;
        }
        &__code {
            width: 197px;
        }
        &__linecharge {
            width: 98px;
        }
        &__lineallow {
            width: 107px;
        }
        &__place {
            width: 82px;
        }
        &__modifier {
            width: 80px;    

        }
        &__units {
            width: 61px;    
        }
        &__render {
            width: 89px;
        }
    }
    &-scroll {
        width: 98.7%;
        height: 5px;
        background-color: #E2E0F7;
        border: 1px solid #E2E0F7;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            height: 5px;
            background-color: #fff;
            width: 60%;
            border: none;
            outline: none;
        }
        &__img {
            width: 100%;
            height: 5px;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &_left {
                transform: rotate(90deg);
                width: 5px;
                height: 5px;
                object-fit: cover;
                background-color: #fff;
            }
            &_right {
                transform: rotate(-90deg);
                width: 5px;
                height: 5px;
                object-fit: cover;
                background-color: #fff;
                z-index: 3;
            }
        }
    }

} 

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border: 1px solid #E2E0F7;
}

::-webkit-scrollbar-thumb {
    background: #E2E0F7; 
}

::-webkit-scrollbar-button:double-button { 
    background-color: red; 
    height: 16px; 
    width: 16px; 
} 
  ::-webkit-scrollbar-button:horizontal:decrement {
    background: url(../img/chevron-down.png)  no-repeat 50% 50%;;

    background-size: cover;   /* Tweak this to fit the image*/
    background-repeat: no-repeat;  
    background-color: transparent; 
  }
  

